mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-awesome-pages-plugin
mkdocstrings[python]
scikit-learn
numpy
pandas
matplotlib
seaborn
tensorflow
scipy
optuna
cupy-cuda111
numba
tensorflow-hub
tensorflow-datasets
tensorflowjs
torch
torchvision
torchaudio
